@page "/pacientes/lista"
<h3>PacientesIndex</h3>


<div class="mb-2" style="display: flex; flex-wrap:wrap; align-items: center; gap: 10px;">
    <input style="width:400px;" type="text" class="form-control" placeholder="Buscar Evento..." @bind="Filter" />


    <div class="d-flex align-items-center gap-2">
        <label class="mb-0">Mostrar:</label>
        <InputSelect class="form-select" @bind-Value="SelectedPageSize" style="width:80px;">
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </InputSelect>
    </div>
    <button type="button" class="btn btn-custom" @onclick="ApplyFilterAsync">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-search"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" /><path d="M21 21l-6 -6" /></svg> Buscar
    </button>
    <button type="button" class="btn btn-custom" @onclick="CleanFilterAsync">
        <i class="bi bi-x-circle" /> Limpiar
    </button>
</div>

<GenericList MyList="Pacientes">
    <Body>
        <table class="table table-striped table-hover table-bordered align-middle">
            <thead class="" style="background-color:#3C6A79; color: white;">
                <tr class="text-center">
                    <th>Expediente</th>
                    <th>Nombres</th>
                    <th>Telefono</th>
                    <th>Evento</th>
                    <th>Fecha Nac.</th>
                    <th>Enviado</th>
                    <th>Entregado</th>
                    <th>Error</th>
                    <th>Mensaje</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var paciente in Pacientes!)
                {
                    <tr class="align-middle">

                        <td>@paciente.NumeroExpediente</td>
                        <td>@paciente.Nombre @paciente.Apellidos</td>
                        <td>@paciente.Apellidos</td>
                        <td>@paciente.Apellidos</td>

                        <td>@paciente.FechaNacimiento</td>
                        <td>
                            <span class="badge bg-success">@paciente.Sexo</span>
                        </td>

                        <td>°°°</td>

                    </tr>
                }
            </tbody>
        </table>
        <div class="d-flex justify-content-center my-3">
            <Pagination CurrentPage="currentPage"
                        TotalPages="totalPages"
                        SelectedPage="SelectedPage" />
        </div>

    </Body>
</GenericList>