@page "/pacientes/citas"

<div class="p-4">

    <!-- HEADER -->
    <div class="flex items-center justify-between mb-4 gap-2 flex-wrap">
        <div>
            <InputDate @bind-Value="fechaSeleccionada"
                       class="px-3 py-2 border rounded-xl" />

            <!-- 👨‍⚕️ Filtro médico -->
            <select @onchange="OnMedicoChange"
                    class="px-3 py-2 border rounded-xl">
                <option value="">Todos los doctores</option>

                @foreach (var medico in Medicos)
                {
                    <option value="@medico.Id">
                        @(medico.Usuario?.Nombre ?? "Sin nombre")
                    </option>
                }
            </select>
        </div>
        <button class="flex items-center gap-2 px-4 py-2 text-white transition bg-gray-900 rounded-lg shadow-sm hover:bg-gray-700">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-calendar-plus"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M12.5 21h-6.5a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v5" /><path d="M16 3v4" /><path d="M8 3v4" /><path d="M4 11h16" /><path d="M16 19h6" /><path d="M19 16v6" /></svg>
            Agendar Cita
        </button>
        <!-- 📅 DatePicker -->

    </div>

    <!-- 📋 AGENDA -->
    <div class="border rounded-xl overflow-hidden">

        <!-- HEADER -->
        <div class="bg-gray-900 p-3 font-semibold text-center text-white">
            @fechaSeleccionada.ToString("dddd, dd MMMM yyyy")
        </div>
        <!-- HORAS -->
        @foreach (var hora in Horas)
        {
            <div class="relative border-b h-20">

                <!-- Hora -->
                <div class="absolute left-2 top-1 text-xs text-gray-400">
                    @DateTime.Today.AddHours(hora).ToString("h:mm tt")
                </div>

                <!-- Citas -->
                @foreach (var cita in GetCitasPorDia(hora).Select((c, index) => new { c, index }))
                {
                    <div class="absolute text-xs text-white p-2 rounded shadow"
                         style="
                            background:@(GetColor(cita.c));
                            height:@(cita.c.DuracionMinutos * 2)px;
                             top:@(cita.c.FechaHora.Minute * 2)px;
                             left:@(70 + (cita.index * 110))px;
                            width:100px;
                         ">

                        <div class="font-semibold">@cita.c.NumeroCita</div>
                        <div>@cita.c.TipoCita</div>
                        <div class="text-[10px]">@cita.c.MotivoConsulta</div>

                    </div>
                }

            </div>
        }

    </div>

</div>